<body>
	<h1><%= @elemento.nome %></h1>
	Elétrons: <%= @elemento.num_eletrons %>
	<br>	
	Neutrons: <%= @elemento.num_neutrons %>
	<br>
	Prótons: <%= @elemento.num_protons %>
	<br>
	Massa atômica: <%= @massa %>
	<br>
	Eletronegatividade: <%= @elemento.eletronegatividade %>
	<br>
	<%= @curiosidade.text %>
	<%= link_to 'Voltar', tabela_path %>	
</body>