<div class="jumbotron">
<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
    <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <br>
  <div class="field">
    <%= f.label :turma %><br>
    <%= f.select :turma,['a', 'b', 'c', 'd', 'e' ] %>
  </div>


  <div class="actions">
<br>
    <%= f.submit "Criar usuario" %>
    <br>
  </div>
  <br>
<% end %>
</div>