<p id="notice"><%= notice %></p>

<p>
  <strong>Id post:</strong>
  <%= @comentario.id_post %>
</p>

<p>
  <strong>Conteudo:</strong>
  <%= @comentario.conteudo %>
</p>

<p>
  <strong>Id usuario:</strong>
  <%= @comentario.id_usuario %>
</p>

<p>
  <strong>Data:</strong>
  <%= @comentario.data %>
</p>

<%= link_to 'Edit', edit_comentario_path(@comentario) %> |
<%= link_to 'Back', comentarios_path %>
