<p id="notice"><%= notice %></p>
<div class="panel panel-info">
	 <div class="panel-heading">Post de: <b><%= @usuario.username %></b></div>
<p>
	<br>
  <strong>Conteudo:</strong>
  <%= @post.conteudo %>
</p>
<br><br>

<p>
  <strong>Data:</strong>
  <%= @post.data %>
</p>
<br>
</div>



<div class="form-group">
  <label for="comment">Comente algo:</label>
  <textarea class="form-control" rows="5" id="comment"></textarea>
</div>



<br>


<%= link_to 'Voltar', posts_path %>
